html {
  font-size: 10px;
  font-family: 'Girassol', cursive;
  color: rgb(27,27,27);
}

h1 {
  font-size: 60px;
  text-align: center;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

html {
  background-color: rgb(210, 198, 247);
}

body {
  width: 800px;
  margin: 0 auto;
 background-color:rgb(46, 139, 87);
  padding: 0 20px 20px 20px;
}

h1 {
  margin: 0;
  padding: 20px 0;
  text-shadow: 3px 3px 1px black;
  color: rgb(210, 198, 247);
}

img {
  display: block;
  margin: 0 auto;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  font-size: 45px;
}


#cat {
  position: absolute;
  left: 0px;
  font-size: 20px;
  top: 2100px;
}

#referencias {
  background-color: rgb(210, 198, 247);
  text-align: center;
  color: rgb(46, 139, 87);
}
